{{ attach_library('movie_theme/grid') }}
{% for line in items %}
  <div class="row">
  {% for col in line.content %}
    <div class="col grid-col">
    {{ col.content }}
    </div>
  {% endfor %}
  </div>
{% endfor %}

<div class="modal fade" id="trailer-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <iframe></iframe>
      </div>
    </div>
  </div>
</div>

