<ul class="main-menu">
  {% for item in items %}
    <li class="{{ item.in_active_trail ? 'active' : '' }}">
      <a href="{{ item.url }}">{{ item.title }}</a>
        {% if item.below | length != 0 %}
          <ul class="submenu">
            {% for subitem in item.below %}
              <li><a href="{{ subitem.url }}">{{ subitem.title }}</a></li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
  {% endfor %}
</ul>


