#main-menu {
  left: 0;
  position: fixed;
  background-color: white;
  width: 100vw;
  z-index: 1000;
  padding: 0;
  display: flex;
  #logo {
    border: 1px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 120px;
    img{
      width: 100%;
      height: auto;
    }
  }
  .region-primary-menu {
    width: 80%;
  }
  .main-menu {
    list-style: none;
    padding-left: 0;
    display: flex;
    width: 100%;
    justify-content: stretch;
    flex-wrap: nowrap;

    >li {
      flex: 1;
      position: relative;
      &:hover>.submenu {
        display: block;
      }
      &.active {
        >a{
          background-color: #ffda64;
        }
      }
      .submenu {
        padding-top: 20px;
        display: none;
        width: 100%;
        list-style: none;
        padding-left: 0;
        position: relative;
        >li {
          background-color: white;
          //border: 1px solid lightgray;
          width: 100%;
          padding: 5px 0 5px 20px;
        }
        &:before {
          content: '';
          background-color: white;
          display: block;
          height: 50px;
          width: 50px;
          left: 50%;
          margin-left: -25px;
          transform: rotate(45deg);
          border-top: 1px solid lightgray;
          border-left: 1px solid lightgray;
          position: absolute;
          z-index: -1;
        }
        &:after {
          content: '';
          height: calc(100% - 20px);
          box-shadow: 0 0 20px 0 rgba(68,67,67,.25);
          position: absolute;
          top: 20px;
          width: 100%;
          left: 0;
          z-index: -2;
        }
      }
      >a {
        justify-content: center;
        width: 100%;
        align-items: center;
        height: 120px;
        border: 1px solid lightgray;
        display: flex;
        font-size: 24px;
        color: grey;
        transition: 0.5s ease all;
        &:hover {
          text-decoration: none;
          background-color: #ffda64;
        }
      }
    }
  }
}
main {
  padding-top: 120px;

  .grid-col {
    .img-wrap {
      position: relative;
      width: 100%;
      height: 500px;
      img {
        width: 100%;
        height: 100%;
      }
      &:before{
        content: "\f144";
        font-family: "Font Awesome 5 Free";
        font-size: 3em;
        display: flex;
        align-items: center;
        height: 20%;
        position: absolute;
        bottom: 0;
        left: 20px;
        z-index: 1;
      }
      &:after{
        content: "";
        cursor: pointer;
        width: 0;
        background-color: yellow;
        height: 20%;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: 0.3s linear width;
        z-index: 0;
      }

    }
    &:hover>:after {
      width: 100%;
    }
    &:hover .trailer-link {
      opacity: 1;
    }

    .trailer {
      display: none;
    }

    .trailer-link {
      position: absolute;
      top: 400px;
      left: 0;
      height: 100px;
      width: 100%;
      font-size: 3em;
      font-weight: bold;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-right: 30px;
      opacity: 0;
      transition: 0.3s linear opacity;
      //pointer-events: none;
    }

  }

}
